<form>
  <div class="row">
    <div class="col-sx-3">
      Name
    </div>

    <div class="col-xs-21">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>

  <div class="row">
    <div class="col-sx-3">
      Email
    </div>

    <div class="col-xs-21">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>

  <div class="row">
    <div class="col-sx-3">
      Company
    </div>

    <div class="col-xs-21">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>

  <div class="row">
    <div class="col-sx-3">
      Job position
    </div>

    <div class="col-xs-21">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>

  <div class="row">
    <div class="col-sx-24">Motive</div>

    <div class="col-sx-3"></div>

    <div class="col-xs-21">
      <div class="checkbox">
        <label>
          <input name="contactMotivePricing" type="checkbox"></input>
          <span>Pricing</span>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input name="contactMotivePartnership" type="checkbox"></input>
          <span>Partnership</span>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input name="contactMotiveSupport" type="checkbox"></input>
          <span>Support</span>
        </label>
      </div>

      <div>
        <label for="contactMotiveOther">Other</label>
        <input type="text" class="form-control" id="contactMotiveOther" placeholder="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sx-3">
      Motive
    </div>

    <div class="col-xs-21">
      <input type="text" class="form-control" id="contactMotive" placeholder="">
    </div>
  </div>

  <div class="row">
    <div class="col-sx-3">
      Message
    </div>

    <div class="col-xs-21">
      <textarea name="contactMessage" class='form-control'></textarea>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-primary"
  >
    Send Email
  </button>

</form>
