# .htaccess for production server

# url relative to web root dir
SetEnvIf Host ^ DASHBOARD_WEBROOT /

#Custom error pages
ErrorDocument 400 /build/error?code=400
ErrorDocument 401 /build/error?code=401
ErrorDocument 403 /build/error?code=403
ErrorDocument 404 /build/error?code=404
ErrorDocument 500 /build/error?code=500

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /build/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /build/index.html [L]
</IfModule>

# DISABLE ALL CACHING WHILE DEVELOPING
<FilesMatch "\.(html|htm|js|css|json)$">
  FileETag None

  <IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Note "CACHING IS DISABLED ON LOCALHOST OR DEVELOP"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </IfModule>
</FilesMatch>

# EXPIRES CACHING
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType text/css "access 1 month"
  ExpiresByType text/html "access 1 month"
  ExpiresByType application/pdf "access 1 month"
  ExpiresByType text/x-javascript "access 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"
  ExpiresByType image/x-icon "access 1 year"
  ExpiresDefault "access 1 month"
</IfModule>
