---
layout: home
---

<div class="container">
  <div class="col-md-8 col-md-push-16 text-center">
    {% include image-WebP.html img="images/logo2.png" alt="dashboard" class="img-dashboard img-responsive visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block" %}
  </div>

  <div class="col-md-16 col-md-pull-8">
    <h2>
      Manage all your mobile devices effectively
    </h2>

    <br/>

    <ul>
      <li>
        Create an inventory of all of your company terminals (mobile fleet inventory)
      </li>

      <li>
        Configure and deploy your mobile fleet from the web-based administration console
      </li>

      <li>
        Install and uninstall remote applications
      </li>

      <li>
        Send files remotely to all terminals
      </li>

      <li>
        Deploy and control Bluetooth and Wi-Fi connectivity
      </li>

      <li>
        Activate real-time geolocation of your terminals
      </li>

      <li>
        Delete, partially or totally, your data in case of loss or theft
      </li>
    </ul>

    <br/>

  </div>
</div>

<section id="instructions">
  <div class="jumbotron theme-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-24 text-center">
          <h3>Features</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron theme-default">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {% include image-WebP.html img="images/shema01.png" alt="shema01" class="img-responsive visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block" %}
        </div>

        <br class="visible-xs-inline-block visible-sm-inline-block"/>
        <div class="col-md-12">
          <div class="type-h3 padding-h0">
            Web Administration console
          </div>

          <div class="type-sh3">
            With Flyve MDM, you can manage your company’s mobile fleet simply and easily, via a secure web browser. Flyve MDM provides access to a centralised mobile device management tool, which offers the following features:
          </div>

          <ul>
            <li>
              Intuitive Web interface
            </li>

            <li>
              Users’ accounts configuration and management tool
            </li>

            <li>
              Installation / removal of applications
            </li>

            <li>
              Ability to control and monitor the security policy
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron theme-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-24 text-center">
          <h3>Demo Trial</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron theme-default">
    <div class="container">

      <p>
        To access the Demo Trial, request your credentials at <a href='https://flyve-mdm.com/'>Flyve MDM</a>, click on <strong>Ask for Demo</strong>,
        fill the form and you'll receive your credentials through email.
      </p>
      <p>
        You will be able to enter our Demo instance at <a href='https://demo-dashboard.flyve.org/'>https://demo-dashboard.flyve.org/</a>
      </p>
      <p>
        Install <a href='http://flyve.org/android-mdm-agent/howtos/installation'>the Flyve MDM Agent</a> on your Android devices to test all our features.
      </p>
    </div>
  </div>

  <div class="jumbotron theme-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-24 text-center">
          <h3>Want to Contribute to Flyve MDM? </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron theme-light">
    <div class="container">
      <h3>Great!</h3>

      <p>
        Be the first to know <a href='http://flyve.org/web-mdm-dashboard/howtos/workflow'>Flyve MDM Workflow</a>, you'll learn how we run our projects. <br />
      </p>

      <p>
        <a href="http://flyve.org/web-mdm-dashboard/howtos/contribute">Join our Community</a>, you can make Flyve MDM better by testing, developing our source code or <a href="http://flyve.org/web-mdm-dashboard/howtos/contribute-translating">translating</a> the project. <br />
      </p>
    </div>
  </div>
</section>
