.win-contentdialog-dialog {
    outline-color: $color-1-primary !important;

    .win-contentdialog-primarycommand {
        background-color: $color-1-primary;
        color: $color-2-primary;
    }
}