---
layout: container
---

<div class="row">
  <div class="col-md-6">
        <?js= this.nav ?>
  </div>
    <div class="col-md-18 navigation-section">
    <div id="main">

        <h1 class="page-title"><?js= title ?></h1>

        <?js= content ?>
    </div>
  </div>

<br class="clear">
