$box-size: 150px;
$chart-size: 310px;

.dashboard-block {
    flex: 1 100%;
    @extend %content-with-scroll;

    .dashboard-wrapper__div {
        display: inline-block;

        .dashboard-infobox-wraper__div {
            margin: 10px 10px;
            display: grid;
            grid-template-columns: repeat(6, $box-size);
            grid-gap: 10px;

            @media only screen and (max-width: 1036px) {
                grid-template-columns: repeat(3, $box-size);
            }
            @media only screen and (max-width: 540px) {
                grid-template-columns: repeat(2, $box-size);
            }

            a {
                color: $splitview-color-fonts;
                
                @extend %normalize-anchor;

                &:hover {
                    color: $splitview-color-fonts-hover;
                }
            }
            
            .info-box {
                display: inline-block;
                background: #E1E1E1;
                position: relative;
                width: $box-size;
                height: $box-size;
                cursor: pointer;

                @include transition(all .1s);

                @extend %box-shadow;

                .title-box {
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
                .content-box {
                    display: inline-block;
                    margin: 10px;
                    vertical-align: middle;
                    line-height: $box-size;
                    font-size: 64px;
                    font-weight: 200
                }
                .icon-box {
                    display: inline-block;
                    float: right; 
                    margin: 10px;
                    font-size: 32px
                }
            }
        }

        .dashboard-chart-wraper__div {
            margin: 10px 10px;
            display: grid;
            grid-template-columns: repeat(3, $chart-size);
            grid-gap: 10px;

            @media only screen and (max-width: 1036px) {
               grid-template-columns: repeat(1, $chart-size);
            }

            .info-box {
                background: #E1E1E1;
                display: inline-block;    
                position: relative;
                width: $chart-size;
                height: $chart-size;
                
                ul {
                    height: $chart-size - 40px;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
                
                .title-box {
                    padding: 10px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                @extend %box-shadow;
            }
        }
    }
}