.fleets {
    height: 100%;

    .contentHeader {

        button {
            float: right;
            height: 20px;
            margin-top: -30px;
        }
    }

    .listPane {
        
        .contentListView {

            .win-groupheadercontainer {
                width: 100% !important;
            }

            .win-groupheader {
                display: inline-block !important;
                width: initial !important;
                padding: 0 20px !important;
            }
        }
    }
}