.fleets {
    height: 100%;

    .contentHeader {

        .titleContentPane {
            display: inline-block;
            padding: 0 10px 0 20px;

            input {
                font-size: 24px;
                font-weight: 200;
            }
        }

        .devicesLength {
            display: inline-block;
            div {
                display: inline-block;
                vertical-align: 5px;
            }
            span {
                padding-left: 5px;
                cursor: default;
            }
        }

        .itemInfo {
            padding: 0 20px; 
            vertical-align: middle;
        }

        span {
            padding: 0 10px;
            font-size: 20px;
            cursor: pointer;
        }

        button {
            float: right;
            height: 20px;
            margin-top: -30px;
        }
    }

    .listPane {
        
        .contentListView {

            .win-groupheadercontainer {
                width: 100% !important;
            }

            .win-groupheader {
                display: inline-block !important;
                width: initial !important;
                padding: 0 20px !important;
            }
        }
    }
}