$border: 1px solid red;

.queryBuilder {
  .ruleGroup {
    border: $border;

    .ruleGroup-combinators  {
      border: $border;
      width: auto
    }

    .rule {
      > select {
        padding: unset; 
        width: unset;
        border: $border;
        box-shadow: unset;
        background: unset; 
        background-image: unset; 
        -webkit-appearance: unset; 
      }
    }
  }
}