.title {
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
  height: 32px;
  margin: 15px 0;
  padding: 0 15px;
  background-color: #158784;
  color: #FFFFFF;
  text-align: center;
  line-height: 32px;
}