.plugins {
    margin: 15px 0;
}

.pluginLeft {
    display: inline-block;
    width: 350px;
    text-overflow: ellipsis;
}
.pluginRight {
    display: inline-block;
    text-align: right;
    width: 100px;
}
.pluginTitle {
    font-weight: 400;
}
.pluginDetail {
    font-weight: 200;
}
@media (max-width: 840px) {
    .pluginLeft {
        display: inline-block;
        width: 200px;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .pluginRight {
        display: inline-block;
        text-align: right;
        width: 100px;
        vertical-align: top;
        float: right;
    }
}

.contentMarkdown h1, h2, h3, h4, strong {
    font-weight: 400;
}

.contentMarkdown p {
    font-weight: 200;
}

.aboutPane {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemList {
    padding: 22px 14px 22px 26px;
}
.itemList:hover {
    background-color: #E5E5E5;
}
.feedback-textarea {
    display: block;
    width: 600px !important;
    max-width: 100%;
    height: 200px;
    border: 1px solid #3e3e3e;
}