// Theme Colors

$color-1-primary:  #158784;
$color-2-primary:  #f2f2f2;

$color-1-secondary:  #ffffff;
$color-2-secondary:  #507675;

$font-color-primary: black;

// Color of signal

$alert: #9e0000;
$warning: #dd2100;
$success: #158784;
$info: #00BCD4;

// Colors to delete

$text-detail-color: darken($color-2-primary, 5);
$border-ligth-color: lighten($color-2-primary, 5);
$app-color: $color-1-primary;
$white-color: $color-2-primary;

// Colors Split View

$splitview-color-fonts: lighten($font-color-primary, 28);
$splitview-color-fonts-hover: $font-color-primary;