// Global Sizes of margin, padding, width, height

$list-item-icon-size: 48px;
$header-height: 40px;
$splitview-height: calc(100vh - #{ $header-height });
$splitview-icon-size: 16px;
$splitview-width: 54px;