header {
  .navbar-nav {
    img {
      vertical-align: middle;
      width: 50px;
    }
  }

  .navbar {
    border-bottom: 1px solid $neutral-tertiary;
  }

  .affix {
    width: 100%;
    z-index: 100;
  }

  .navbar__logo {
    display: inline-block;
    padding: 10px 0;

    .navbar__logo--first {
      margin-right: 18px;

      img {
        height: 23px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .navbar__logo--second {
      margin: 0 18px;

      img {
        height: 30px;
        margin-top: -2px;
      }
    }
  }

  .navbar__separator {
    display: inline-block;

    &::after {
      content: '|';
      display: inline-block;
      font-size: 24px;
      font-weight: normal;
      position: absolute;
      top: 2px;
    }
  }
}
