.about {
    .win-commandingsurface .win-commandingsurface-actionarea {
        justify-content: flex-end !important; 
    }
    .win-autosuggestbox {
        display: inline-block;
        margin: 15px 0 !important;
        float: right;

        input {
            width: 260px !important;
        }
    }
    .search {
        width: 68px;
        height: 48px;
        cursor: pointer;
        display: inline-block;
        font-size: 22px;
        text-align: center;
        line-height: 54px;
        float: right;
        margin-top: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}