.home {

    .wrapper {
        display: grid;
        grid-template-columns: 180px 180px 180px;
        grid-gap: 10px;
        @media only screen and (max-width: 540px) {
            grid-template-columns: 160px 160px;
            grid-gap: 10px;
        }
        
        .info-box {
            display: inline-block; 
            margin: 15px;
            width: 150px; 
            float: left;
            text-align: center;
            border: 1px solid $border-ligth-color;
    
            .title {
                background-color: $app-color;
                color: $white-color;
                line-height: 30px;
    
                h3 {
                    margin: 0
                }
            }
        }
    }
}
