.toast {
    position: fixed;
    top: 48px;
    z-index: 100;
    right: 0;
    margin: 10px;
    padding: 7px;
    overflow: hidden;
    width: 200px;
    height: 48px;

    background-color: #ddd;

    .toast-title {

    }

    .toast-body {
        color: $text-detail-color;
        font-size: 13px;
        line-height: 16px;
    }

    .type-alert {
        // background-color: ;
    }

    .type-warning {
        // background-color: ;
    }

    .type-success {
        // background-color: ;
    }

    .type-info {
        // background-color: ;
    }
}