// Colors
$app-color:  #158784;
$white-color: #FFFFFF;
$border-ligth-color: #D3D3D3;
$text-detail-color: grey;
$hover-dropdown-color: rgba(0,0,0,.1);

// Size
$list-item-icon-size: 48px;

@import
    "devices",
    "invitations",
    "fleets",
    "files",
    "applications",
    "users",
    "settings",
    "about",
    "home",
    "loading",
    "login";

.devices, .invitations, .fleets, .files, .applications, .users, .settings, .about {
    height: 100%;
}

.win-clickeater {
    display: none;
}

.win-contentdialog-dialog {
    outline-color: $app-color !important;
}

.win-button-primary, .win-contentdialog-primarycommand {
    background-color: $app-color !important;
    color: $white-color !important; 
}

.win-selectionbackground {
    background-color: $app-color !important;
    opacity: 0.2 !important;
}

#app {
    height: 100%;
    font-weight: 300;

    body {
        margin: 0;
        padding: 0;
        user-select:auto;
    }

    ::selection {
        background: $app-color;
    }
    ::-moz-selection {
        background: $app-color;
    }

    h1 {
        font-size: 46px;
        font-weight: 200;
        line-height: 1.216;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 34px;
        font-weight: 200;
        line-height: 1.176;
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.167;
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
    }

    h5 {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.333;
    }

    h6 {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.333;
    }

    input {
        box-shadow:none;
    }

    button, button:focus {
        box-shadow:none;
        -webkit-box-shadow: none;
        outline: 0;
        outline-offset: 0;
    }

    .contentPane {
        overflow: auto;
    }
    
    a {
        color: $app-color;
    }

    .clickable {
        cursor: pointer;
    }

    .listElement {
        display: block;
        overflow: auto;

        .message {
            display: inline-block;
            padding: 18px 0px 15px 15px;
            width: 50%;
            vertical-align: middle;
        }

        .detail {
            color: $text-detail-color;
            font-size: 13px;
            line-height: 16px;
        }

        .controller {
            padding: 15px 15px 15px 0;                
            float: right;
            display: inline-block;
            
            .win-toggleswitch-values {
                display: none;
            }
            .win-toggleswitch-header {
                margin: 0;
            }

            button {
                margin-top: 5px;
            }
        }
    }

    .list-content {
        .list-col {
            display: inline-block;
            margin-right: 10px;
        }
    }

    .listElementIcon {
        margin: 40px 10px 5px;

        span {
            font-size: 25px;
        }
    }

    .contentPicture {

        .clickable {

            &:after {
                content: "\E114";
                display: block;
                margin-top: -30px;
                margin-left: 110px;
                font-size: 30px;
            }
        }
    }


    .hidden {
        display: none;
    }

    .win-dropdown {
        width: 100%;
        min-width: 67px;
        max-width: 368px;
        min-height: 36px;
        padding: 4px 42px 4px 12px;
        background-color: $white-color;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
    }
    .win-dropdown:hover{ 
        background-color: $hover-dropdown-color;
    }

    .header-admin-dashboard {
        height: 48px;
        background-color: $app-color;
    }

    /*
    * Input Text
    */
    .win-textbox:focus, .win-textarea:focus {
        border-color: $app-color !important;
    }


    /*
    * BackButton
    *  Ensure it's the same size as the SplitViewPaneToggle
    */
    .win-backbutton {
        height: 48px;
        width: 48px;
        font-size: inherit;
        line-height: inherit;
        box-sizing: border-box;

        &::before {
            font-size: 24px;
            line-height: 1.333;
            vertical-align: baseline;
        }
    }

    /*
    * list Search Pane
    */
    .listPane {

        .contentListView {

            .win-surface {
                margin-top: 0;
            }

            .win-container {
                margin: 0;
            }

            .win-item {
                padding-top: 8px;
                padding-bottom: 8px;
                width: calc(100% - 24px);
                padding-left: 12px;

                .contentPicture {
                    width: 42px;
                    height: 42px;
                    background-size: cover;
                    -webkit-border-radius: 42px;
                    -moz-border-radius: 42px;
                    border-radius: 42px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 8px;
                }

                .name, .detail {
                    vertical-align: middle;
                    width: 240px;
                    $white-color-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 400;
                }

                .name {
                    font-size: 18px;
                    line-height: 22px;
                }

                .detail {
                    color: $text-detail-color;
                    font-size: 13px;
                    line-height: 16px;
                }
            }
            
            .win-groupheadercontainer {
                width: 32px;
                height: 32px;
                margin-top: 7px;
                margin-bottom: 10px;
                margin-left: 12px;
            }

            .win-groupheader {
                font-size: 15px;
                width: 32px;
                height: 32px;
                padding: 0;
                background-color: $app-color;
                color: $white-color;
                text-align: center;
                line-height: 32px;
            } 

        }
    }

    .listToolBar .win-toolbar-actionarea {
        background-color: $white-color;
    }

    /*
    * Content Pane
    */
    .contentPane {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;

        .titleContentPane {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .contentHeader {
            padding-top: 10px;
            padding-bottom: 10px;

            .name {
                font-size: 24px;
                line-height: 28px;
                font-weight: 300;
                padding-top: 6px;
            }

            .itemInfo {
                display: flex;

                .contentStatus {
                    width: 240px;
                    margin-left:20px;
                    margin-top:10px;

                    .message {
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 500;
                    }

                    .source {
                        display:block;
                        color: $text-detail-color;
                        font-size: 13px;
                        line-height: 16px;
                        font-weight: 400;
                    }
                }
            }

            .contentPicture {
                width: 100px;
                height: 100px;
                background-size: cover;
                display: inline-block;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                margin-left: 25px;
                margin-top:10px;
            }
        }

        .contentInfo {

            ul li {
                margin-bottom:25px;
            }
            
            ul {
                list-style:none;
                padding-left: 25px;
                padding-right: 25px;
            }

            .title{
                font-weight: 700;
            }

            .phoneIcon, 
            .callContent {
                display: inline-block;
                vertical-align: top;
            }

            .videoCallIcon,
            .emailIcon,
            .messageIcon,
            .phoneIcon,
            .mapIcon {
                margin-right: 8px;
            }
        }
    }

    .separator {
        width:100%;
        height:2px;
        background-color: $border-ligth-color;
    }

    .icon {
        display: block;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .videoCallIcon::before {
        content: "\E13B";
    }

    .emailIcon::before {
        content: "\E119";
    }

    .messageIcon::before {
        content: "\E15F";
    }

    .phoneIcon::before {
        content: "\E13A";
    }

    .mapIcon::before {
        content: "\E1C4";
    }

    .deviceIcon::before {
        content: "\E1C9";
    }
    .fileIcon::before {
        content: "\E295";
    }
    .documentIcon:before {
        content: "\E160";
    }
    .messageIcon:before {
        content: "\E134";
    }
    .deleteIcon:before {
        content: "\E107";
    }
    .editIcon:before {
        content: "\E104";
    }
    .addIcon:before {
        content: "\E109";
    }
    .contactIcon:before {
        content: "\E13D";
    }
    .clearIcon:before {
        content: "\E106";        
    }
    .addIcon:before {
        content: "\E109";        
    }
    .viewIcon:before {
        content: "\E18B";        
    }
    .monthIcon:before {
        content: "\E163";        
    }
    .detailsIcon:before {
        content: "\E14C";        
    }
    .permissionsIcon:before {
        content: "\E192";        
    }

    .files-dropzone {
        text-align: center;
        padding: 60px;
        border: 1px dashed $border-ligth-color;
        cursor: pointer;
    }

    .files-dropzone-active {
        border: 1px solid $app-color;
        color: $app-color;
    }

    .files-list {
        padding: 20px 20px 5px;
        display: table;
        width: 100%;
        border: 0;

        .files-list-content {
            display: table-row-group;
            
            .files-list-item {
                display: table-row;

                .item-icon {
                    display: table-cell;
                    float: left;
                    width: $list-item-icon-size;
                    height: $list-item-icon-size;

                    span {
                        font-size: 32px;
                        text-align: center;
                    }
                }

                .item-content-primary {
                    display: table-cell;
                    padding-right: 10px;
                    vertical-align: top;
                    text-align: left;
                    width: 100%;
                }

                .item-content-secondary {
                    display: table-cell;
                    float: right;
                    text-align: left;
                }

                .content-text-primary {
                    font-weight: 700;
                }

                .content-text-secondary {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    color: $text-detail-color;
                }
            }
        }
    }
}

.win-toggleswitch-on .win-toggleswitch-track {
    background-color: $app-color !important;
}

.win-pivot-item .win-pivot-item-content {
    padding: 0 !important;
}

select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}