// Colors
$app-color:  #158784;
$white-color: #FFFFFF;
$border-ligth-color: #D3D3D3;
$text-detail-color: grey;

#app {
    height: 100%;
    font-weight: 300;

    body {
        margin: 0;
        padding: 0;
    }
    
    .contentPane {
        overflow: auto;
    }
    
    a {
        color: $app-color;
    }

    .header-admin-dashboard {
        height: 48px;
        background-color: $app-color;
    }

    /*
    * Input Text
    */
    .win-textbox:focus {
        border-color: $app-color !important;
    }

    /*
    * Button primary
    */
    .win-button-primary {
        background-color: $app-color !important;
    }

    /*
    * BackButton
    *  Ensure it's the same size as the SplitViewPaneToggle
    */
    .win-backbutton {
        height: 48px;
        width: 48px;
        font-size: inherit;
        line-height: inherit;
        box-sizing: border-box;

        &::before {
            font-size: 24px;
            line-height: 1.333;
            vertical-align: baseline;
        }
    }

    /*
    * list Search Pane
    */
    .listPane {

        .contentListView {

            .win-surface {
                margin-top: 0;
            }

            .win-container {
                margin: 0;
            }

            .win-item {
                padding-top: 8px;
                padding-bottom: 8px;
                width: calc(100% - 24px);
                padding-left: 12px;

                .contentPicture {
                    width: 42px;
                    height: 42px;
                    background-size: cover;
                    -webkit-border-radius: 42px;
                    -moz-border-radius: 42px;
                    border-radius: 42px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 8px;
                }

                .name, .detail {
                    vertical-align: middle;
                    width: 240px;
                    $white-color-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .name {
                    font-size: 15px;
                    font-weight: 400;
                }

                .detail {
                    color: $text-detail-color;
                    font-size: 15px;
                    font-weight: 200;
                }
            }
            
            .win-groupheadercontainer {
                width: 32px;
                height: 32px;
                margin-top: 7px;
                margin-bottom: 10px;
                margin-left: 12px;
            }

            .win-groupheader {
                font-size: 15px;
                width: 32px;
                height: 32px;
                padding: 0;
                background-color: $app-color;
                color: $white-color;
                text-align: center;
                line-height: 32px;
            } 

        }
    }

    .listToolBar .win-toolbar-actionarea {
        background-color: $white-color;
    }

    /*
    * Content Pane
    */
    .contentPane {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;

        .titleContentPane {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .contentHeader {
            padding-top: 10px;
            padding-bottom: 10px;

            .name {
                vertical-align: top;
                display: inline-block;
                font-size: 24px;
                padding-top: 6px;
            }

            .itemInfo {
                display: flex;

                .contentStatus {
                    width: 240px;
                    margin-left:20px;
                    margin-top:10px;

                    .name {
                        font-size: 14px;
                        font-weight: 300;
                    }

                    .message {
                        font-size: 14px;
                    }

                    .source {
                        display:block;
                        color: $text-detail-color;
                        font-size: 13px;
                    }
                }
            }

            .contentPicture {
                width: 100px;
                height: 100px;
                background-size: cover;
                display: inline-block;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                margin-left: 25px;
                margin-top:10px;
            }
        }

        .contentInfo {

            ul li {
                margin-bottom:25px;
            }
            
            ul {
                list-style:none;
                padding-left: 25px;
                padding-right: 25px;
            }

            .phoneIcon, 
            .callContent {
                display: inline-block;
                vertical-align: top;
            }

            .videoCallIcon,
            .emailIcon,
            .messageIcon,
            .phoneIcon,
            .mapIcon {
                margin-right: 8px;
            }
        }
    }

    .separator {
        width:100%;
        height:2px;
        background-color: $border-ligth-color;
    }

    .videoCallIcon::before {
        content: "\E13B";
    }

    .emailIcon::before {
        content: "\E119";
    }

    .messageIcon::before {
        content: "\E15F";
    }

    .phoneIcon::before {
        content: "\E13A";
    }

    .mapIcon::before {
        content: "\E1C4";
    }

    .deviceIcon::before {
        content: "\E1C9";
    }
    .fileIcon::before {
        content: "\E295";
    }
    .documentIcon:before {
        content: "\E160";
    }
    .messageIcon:before {
        content: "\E134";
    }
    .deleteIcon:before {
        content: "\E107";
    }
    .editIcon:before {
        content: "\E104";
    }

    .files-dropzone {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        border: 1px dashed $border-ligth-color;
        cursor: pointer;
    }

    .files-dropzone-active {
        border: 1px solid $app-color;
        color: $app-color;
    }
}