.documentIcon:before {
  content: "\E160";
}

.contactIcon:before {
  content: "\E13D";
}

.viewIcon:before {
  content: "\E18B";
}

.detailsIcon:before {
  content: "\E14C";
}

.supervisionIcon:before {
  content: "\E1DE";
}

.cancelIcon:before {
  content: "\E711";
}

.selectIcon:before {
  content: "\E73A"
}

.unselectIcon:before {
  content: "\E739"
}
