.queryBuilder {
  .ruleGroup {
    background: $color-2-primary;
    padding: 10px;

    .ruleGroup-combinators  {
      margin: 0 10px 0 0;
      height: 32px;
      border: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      outline: 1px solid $color-1-primary;
      outline-offset: -1px;

      @include font-source(Segoe UI, 15px, #616264);
    }

    .ruleGroup-addRule, .ruleGroup-addGroup {
      margin: 0 10px 10px 0;
      padding: 4px 8px;
      height: 32px;
      min-width: 80px;
      border-radius: 0;
      border-width: 2px;
      color: #000000;
      background-color: rgba(0, 0, 0, 0.2);
      border-color: transparent;
      border-style: solid;
      background-clip: border-box;
      touch-action: manipulation;
      -webkit-appearance: none;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.333;
      box-shadow: none;
      -webkit-box-shadow: none;

      @include font-source(Segoe UI, 15px, #616264);

      &:focus, &:active {
        outline:0;
      }
    }

    .rule {
      input[type="text"] {
        height: 30px;
      }
      .rule-fields, .rule-operators, input[type="text"] {
        @extend .ruleGroup-combinators;
        margin: 0px 10px 10px 0;
      }

      .rule-remove {
        @extend .ruleGroup-addRule;
        min-width: 32px;
      }
    }
  }
}

.searchList {
  padding: 10px 0 0 0;
  border: 1px solid $color-2-primary;
  width: 100%; display:table
}
.searchListHeader {
  border: 1px solid $color-2-primary;
  background-color: $color-1-primary;
  color: white;
  font-weight: bold; display:table-row
}
.cellHeader {
  border-right: 1px solid white;
  display: table-cell;
  width:12%;
  padding: 1px;
  text-align: center; 
}
.rowContent {
  border: 1px solid $color-2-primary;
  background-color: white;
  display:table-row
}
.cellContent {
  border-right: 1px solid white;
  display: table-cell;
  width:10%;
  padding-right: 4px;
  text-align: center;
  border-bottom: none;
}

.cellContentTwo {
  background-color: rgba(0, 0, 0, 0.1);
}
