%extend-button-concept {
  cursor: pointer;
  border-style: solid;
  margin: 0px;
  min-width: 80px;
  padding: 4px 8px;
  border-width: 2px;
  background-clip: border-box;
  border-radius: 0;
  touch-action: manipulation;
  -webkit-appearance: none;
  font-weight: 400;
  line-height: 1.333;
  border: none;

  @include transition(background-color, .2s, ease);
  @include font-source(Segoe UI, 15px, #616264);

  &.--primary {
    border: 1px solid $border-ligth-color;
    background-color: $color-1-primary;
    color: white;

    &:hover {
      border-color: $color-2-primary;
      background-color: lighten($color-1-primary, 5);
    }
  
    &:active,
    &.active {
      background-color: lighten($color-1-primary, 10);
      border-color: lighten($color-2-primary, 10);
      color: white;
    }
  }

  &.--secondary {
    border: 1px solid $app-color;

    &:hover {
      border-color: $color-1-secondary;
      background-color: $color-2-secondary;
      color: white;
    }
  
    &:active,
    &.active {
      background-color: lighten($color-1-secondary, 10);
      border-color: lighten($color-2-secondary, 10);
      color: darken($color-2-secondary, 10);
    }
  }
}

%normalize-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

%normalize-anchor {
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

%box-shadow {
  @include css3-prefix(box-shadow, "0 1px 1px 0 rgba(0,0,0,0.1), 0 -1px 2px 0 rgba(0,0,0,0.1)");
}