.contact {
  .contact__card {
    padding: 15px;
    text-align: center;
  }

  .contact__header {
    background-color: $theme-lighter-alt;
    border-bottom: 1px solid $neutral-quaternary;
  }

  .contact__img {
    padding: 38px 5% 5%;
  }

  .share-bar {
    margin-top: 38px;
    text-align: center;
  }
}
