.contact-page {

  img {
    width: 30px;
  }

  .contact-page__row {
    //overflow: auto;
    text-align: center;

    a {
      margin-top: 15px;
    }
  }

  .contact-page__row2 {
    overflow: auto;
    text-align: center;

    a {
      margin-top: 15px;
    }
  }

  .contact-page__row--social {
    img {
      margin: 0 20px;
    }

  }
}

.options {

  border-bottom: 1px solid $black;
  padding-bottom: 10px;

}

//SHARE-BAR STYLE:

// ICON'S TRANSITION
.img-pop {

  transition: .2s ease-in-out;

  // INCREASES THE SIZE OF THE ICONS ON HOVER
  &:hover {

    @include box-shadow(0 0 5px $gray);
    transform: scale(1.1);
  }

}

//SHARE-BAR SOCIAL NETWORK ICONS
.fab {

  margin-left: 12px;

}

.share-bar {

  .btn {

    width: 100px;
    height: 103px;
    font-size: 45px;
    &.btn-social{

      font-size: 15px;

    }

  }

}

.btn {

  a {

    &:hover {

      text-decoration: none;

    }

  }

}

.btn-social {

  font-size: 15px;
  &:hover{

    color: $white;


  }

}

.fa-telegram {

  :before{

    content: "\f1d9";


  }

}

//CONTACT BANNER

img {

  &.img-contact-banner {

    float: left;

  }
}

//IMAGE BREAKPOINTS

@media (min-width: 768px) {

  img {

    &.img-contact-banner {

      max-width: 80%;
      margin-left: 50px;

    }
  }

}

@media (min-width: 1024px) {

  img {

    &.img-contact-banner {

      max-width: 50%;
      margin-left: 150px;

    }
  }

}


.contact-header {

  margin: 0;
  padding: 0;
  background-color: $lightgray4;
  box-sizing: border-box;

}

.contact-banner-text {

  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;

}

//CONTACT HEADER BREAKPOINTS

@media (min-width: 768px) {

  .contact-header {

    .col-md-12 {

      margin-left: -30px;

    }

  }

}

@media (min-width: 1200px) {

  .contact-header {

    .col-md-12 {

      margin-left: -50px;

    }

  }

}

@media (max-width: 2506px) {

  .contact-header {

   blockquote {

     margin-bottom: 15px;

   }

  }


}


//COMPLEMENTARY INFO CARDS

.contact-page__row {

  &contact-page__row--social {

    margin-top: 0;

  }

}

.contact-page__row2 {

  margin-top: 50px;

}

.info-cards {

  background-color: $lightgray3;
  padding-bottom: 10px;
  p {

    margin-bottom: 10px;

  }

}

@media (max-width: 540px) {

  .info-cards {

    margin-top: 7px;

  }

}

@media (min-width: 768px) {

  .info-cards {

    width: 32.4%;
    height: 253px;
    margin: 3px;

  }

}

.card-header {

  color: $white;
  background-color: $theme-secondary;
  margin-bottom: 60px;

}

.card-header {

  h3 {

    padding-top: 2px;

  }

}
