.howtos-sidebar {
  height: 80%;
  overflow: auto;

  &.side-navigation-small {
    margin-top: 45px;

    &.affix {
      top: 55px;
    }
  }

  .glyph-chevron-down-2 {
    font-size: 6px;
    line-height: 12px;
  }
}
