.share-bar {
  .btn {
    background-color: $white;
    min-width: 36px;

    i {
      color: $white;
    }
  }

  .share-bar__facebook {
    i {
      color: $facebook;
    }

    &:hover {
      background-color: $facebook;

      i {
        color: $white;
      }
    }
  }

  // Twitter button
  .share-bar__twitter {
    i {
      color: $twitter;
    }

    &:hover {
      background-color: $twitter;

      i {
        color: $white;
      }
    }
  }

  // Google-PLus button
  .share-bar__google {
    i {
      color: $google;
    }

    &:hover {
      background-color: $google;

      i {
        color: $white;
      }
    }
  }

  // Pinterest button
  .share-bar__pinterest {
    i {
      color: $pinterest;
    }

    &:hover {
      background-color: $pinterest;

      i {
        color: $white;
      }
    }
  }

  // Tumblr button
  .share-bar__tumblr {
    i {
      color: $tumblr;
    }

    &:hover {
      background-color: $tumblr;

      i {
        color: $white;
      }
    }
  }


  // Reddit button
  .share-bar__reddit {
    i {
      color: $reddit;
    }

    &:hover {
      background-color: $reddit;

      i {
        color: $white;
      }
    }
  }

  // LinkedIn button
  .share-bar__linkedin {
    i {
      color: $linkedin;
    }

    &:hover {
      background-color: $linkedin;

      i {
        color: $white;
      }
    }
  }

  // Email button
  .share-bar__email {
    i {
      color: $email;
    }

    &:hover {
      background-color: $email;

      i {
        color: $white;
      }
    }
  }
}
