body {
    margin: 0;
    padding: 0;
}
.contentPane {
    overflow: auto;
}

a {
    color: #158784
}

#app {
    height: 100%;
    font-weight: 300;
}

#app .header-admin-dashboard {
    height: 48;
    background-color: #158784;
}

/*
 * BackButton
 *  Ensure it's the same size as the SplitViewPaneToggle
*/
#app .win-backbutton {
    height: 48px;
    width: 48px;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}
#app .win-backbutton::before {
    font-size: 24px;
    line-height: 1.333;
    vertical-align: baseline;
}

/*
 * list Search Pane
*/

#app .listPane .contentListView .win-surface {
    margin-top: 0;
}

#app .listPane .contentListView .win-container {
    margin: 0;
}

#app .listPane .contentListView .win-item {
    padding-top: 8px;
    padding-bottom: 8px;
    width: calc(100% - 24px);
    padding-left: 12px;
}

#app .listPane .contentListView .win-item .contentPicture {
    width: 42px;
    height: 42px;
    background-size: cover;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

#app .listPane .contentListView .win-item .name, #app .listPane .contentListView .win-item .detail {
    vertical-align: middle;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#app .listPane .contentListView .win-item .name {
    font-size: 15px;
    font-weight: bold;
}

#app .listPane .contentListView .win-item .detail {
    color: #586069;
    font-size: 15px;
    font-weight: 200;
}

#app .listPane .contentListView .win-groupheadercontainer {
    width: 32px;
    height: 32px;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 12px;
}
#app .listPane .contentListView .win-groupheader {
    font-size: 15px;
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: #158784;
    color: white;
    text-align: center;
    line-height: 32px;
} 

.listToolBar .win-toolbar-actionarea {
    background-color: white;
}

/*
 * Content Pane
*/

#app .contentPane {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

#app .contentPane .titleContentPane {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#app .contentPane .contentHeader {
    padding-top: 10px;
    padding-bottom: 10px;
}

#app .contentPane .contentHeader .name {
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    padding-top: 6px;
}

.contentHeader .itemInfo {
    display: flex;
}

#app .contentPane .contentHeader .contentPicture {
    width: 100px;
    height: 100px;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin-left: 25px;
    margin-top:10px;
}

.contentHeader .itemInfo .contentStatus {
    width: 240px;
    margin-left:20px;
    margin-top:10px;
}

.contentHeader .itemInfo .contentStatus .name {
    font-size: 14px;
    font-weight: 300;
}

.contentHeader .itemInfo .contentStatus .message {
    font-size: 14px;
}
.contentHeader .itemInfo .contentStatus .source {
    display:block;
    color: grey;
    font-size: 13px;
}

.contentInfo ul {
    list-style:none;
    padding-left: 25px;
    padding-right: 25px;
}

.contentInfo ul li {
    margin-bottom:25px;
}

.separator {
    width:100%;
    height:2px;
    background-color:rgb(205, 205, 205);
}

.contentInfo .phoneIcon,
.contentInfo .callContent {
    display: inline-block;
    vertical-align: top;
}

.contentInfo .videoCallIcon,
.contentInfo .emailIcon,
.contentInfo .messageIcon,
.contentInfo .phoneIcon,
.contentInfo .mapIcon {
    margin-right: 8px;
}

.contentInfo .videoCallIcon::before {
    content: "\E13B";
}

.contentInfo .emailIcon::before {
    content: "\E119";
}

.contentInfo .messageIcon::before {
    content: "\E15F";
}

.contentInfo .phoneIcon::before {
    content: "\E13A";
}

.contentInfo .mapIcon::before {
    content: "\E1C4";
}

.deviceIcon::before {
    content: "\E1C9";
}

.deviceIcon::before {
    content: "\E1C9";
}

.fileIcon::before {
    content: "\E295";
}
.documentIcon:before {
    content: "\E160";
}
.messageIcon:before {
    content: "\E134";
}
/* .myIcon {
    font-family: "Symbols";
    font-size: 28px;
    color: #5729c1;
} */